
/* Universal */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    height: 350rem;
    width: 100%;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}



/* Header */

header {
    height: 1.25%;
    background-color: aquamarine;
}



/* Main */

main {
    height: 81.25%;
    display: flex;
    flex-direction: column;
}



/* -Sign Up Section- */

.sign-up {
    height: 12.5%;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
}
.sign-up-social-section {
    display: flex;
    flex-direction: row;
    height: 90%;
    padding: 0 12% 0 12%;
}
.social-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-text-social {
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-text-social h5 {
    height: 70%;
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    text-align: center;
    padding: 10% 6% 0 14%;
}
.sign-up-section {
    height: 35%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sign-up-section p {
    font-size: 1.1rem;
}
.row-social {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-image-container {
    height: 92%;
    width: 22%;
    background-color: white;
    border-radius: 5%;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.social-image-container img {
    max-width: 100%;
    max-height: 100%;
}
.join-using {
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
}
.sign-up-form-section {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sign-up-form-section form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 0 4% 0 9%;
}
.sign-up-form-section form section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sign-up-form-section form section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    gap: 1%;
}
.sign-up-form-section form section div input {
    height: 90%;
    width: 70%;
    border: black solid 0.08rem;
}
.sign-up-button {
    height: 40%;
    width: 20%;
    border: none;
    border-radius: 5%;
    color: white;
    background-color: #012864;
}
.sign-up-image {
    width: 45%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sign-up-image img {
    max-width: 75%;
    height: auto;
    display: block;
    border-radius: 5%;
    border: cornflowerblue solid 3px;

}
.terms-of-service {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terms-of-service a {
    color: cornflowerblue;
}



/* -Popular Courses Section- */

.popular {
    height: 14.5%;
    background-color: #012864;
    display: flex;
    flex-direction: column;
}
.popular-text {
    height: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.popular-text h2 {
    font-size: 2.5rem;
}
.popular-text h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.popular-courses-section {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.popular-courses-text {
    height: 12%;
    width: 54%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.popular-courses-text div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.courses-text {
    width: 20%;
}
.courses-text p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.courses-text-dynamic-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dynamic-bar {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.db1 {
    width: 20%;
    height: 100%;
    background-color: gold;
}
.db2 {
    width: 20%;
    height: 100%;
}
.db3 {
    width: 20%;
    height: 100%;
}
.db4 {
    width: 20%;
    height: 100%;
}
.db5 {
    width: 20%;
    height: 100%;
}
.flat-bar {
    height: 40%;
    width: 100%;
    background-color: aliceblue;
}
.courses-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 75%;
}
.courses-card {
    height: 100%;
    width: 22.5%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: black solid 1px;
    border-radius: 2%;
    padding: 0.1%;
}
.courses-card h3 , p , strong {
    font-family: 'Open Sans';
}
.card-title {
    height: 12%;
    width: 100%;
    border-radius: 6% 6% 0 0;
    background-color: #012864;
    color: aliceblue;
    padding: 2.5% 0 0 4%;
    letter-spacing: 1px;
}
.card-title p {
    font-family: serif;

}
.card-description {
    height: 53%;
    padding: 4%;
}
.card-details {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
}
.card-details div {
    height: 33%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
.difficulty-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.difficulty-div section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.card-details p {
    font-size: 0.9rem;
}
.card-details strong {
    font-size: 0.9rem;
}
.certification {
    max-width: 100%;
    max-height: 65%;
}
.difficulty {
    max-width: 13%;
    max-height: 70%;
}
.popular-courses-button {
    width: 12%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gold;
    border-radius: 5%;
}
.popular-courses-button a {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    letter-spacing: 0.075rem;
    color: #012864;
}



/* -Start Coding Section- */

.start-coding {
    height: 13%;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #012864;
    gap: 5%;
}
.start-coding-img-container {
    height: 75%;
    width: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-coding-img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    border: #012864 solid 2px;
}
.start-coding-text-section {
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}
.start-coding-text-section h2 {
    font-size: 2.5rem;
    font-family: "Open Sans";
}
.start-coding-text-section p {
    font-size: 1.5rem;
    font-family: "Open Sans";
}
.start-coding-button-section {
    height: 10%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.start-coding-button {
    width: 50%;
    height: 95%;
    background-color: #012864;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-coding-button.right {
    background-color: cornsilk;
    border: #012864 solid 2px;
    border-radius: 5%;
}
.start-coding-button.left a {
    color: cornsilk;
    text-decoration: none;
    font-size: 1rem;
}
.start-coding-button.right a {
    color: #012864;
    text-decoration: none;
    font-size: 1rem;
}


/* -Where to Start Section- */

.where-to-start {
    height: 13%;
    background-color: #221a27;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.where-to-start-img-container {
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.where-to-start-img-container img {
    max-width: 80%;
    height: 90%;
    display: block;
    border-radius: 3%;
    border: #fed700 solid 2px;
}
.where-to-start-text-section {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.where-to-start-text {
    height: 50%;
    color: #fed700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.where-to-start-text h2 {
    font-size: 2rem;
    text-align: center;
}
.where-to-start-text p {
    font-size: 1.1rem;
    text-align: center;
}
.where-to-start-button {
    height: 12%;
    width: 24%;
    background-color: #fed700;
    border-radius: 5%;
}
.where-to-start-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
}




/* -Stories Section- */

.stories {
    height: 18%;
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.people-section {
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stories-row {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.middle-row {
    height: 50%;
}
.stories-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 5%;
}
.tl , .br {
    height: 100%;
    width: 30%;
}
.left-image , .right-image {
    height: 100%;
    width: 28%;
    overflow: hidden;
}
.right-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.stories-top-doubles {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.stories-bottom-doubles {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top-image , .bottom-image {
    height: 100%;
    width: 35%;
    overflow: hidden;
}
.tr , .bl {
    height: 100%;
    width: 50%;
}
.right-image img, .left-image img {
    max-width: 65%;
    height: auto;
    display: block;
}
.top-image img ,  .bottom-image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.stories-text-and-button {
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}
.stories-text-section {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.stories-text-section h2 {
    font-size: 2rem;
}
.stories-text-section p {
    font-size: 1.1rem;
}
.stories-button {
    height: 22.5%;
    width: 45%;
    background-color: darkseagreen;
}
.stories-button a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
.tl {
    background-color: #fed700;
}
.tr {
    background-color: #ABAAA8;
}
.br {
    background-color: #799FB5;
}
.bl {
    background-color: #637169;
}



/* -Join In Section- */

.join-in {
    height: 3%;
    background-color: lightyellow;
}
.join-in-div {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.join-in-div h3 {
    font-size: 2rem;
}



/* -Business Section- */

.business {
    height: 12%;
    background-color: #ecefee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.business-section {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.business-section-text {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.business-image-header {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: -15%;
}
.codecademy-skillsoft {
    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.codecademy-skillsoft img {
    max-width: 35%;
    height: auto;
    display: block;
}
.business-section-text h2 {
    font-size: 2rem;
}
.business-section-text p {
    font-size: 1.1rem;
}
.business-section-text a {
    font-size: 1.2rem;
    color: black;
    letter-spacing: 1px;
}
.business-image {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.business-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 3%;
    border: black solid 2px;
}



/* -Start Free Section- */

.start-free {
    height: 15%;
    background-color: #020403;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-free-section {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
}
.start-free-section h2 {
    height: 25%;
    width: 25%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.start-free-image-section {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5%;
}
.start-free-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-free-image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.start-free-image-section p {
    font-size: 1.1rem;
    color: white;
    text-align: center;
}
.start-free-image-section a {
    font-size: 1.2rem;
    color: #d2d5de;
    letter-spacing: 1px;
}


/* Footer */

footer {
    height: 17%;
    background-color: lightcyan;
}