
/* Universal */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    height: 350rem;
    width: 100%;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}



/* Header */

header {
    height: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-section {
    height: 26.5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hs1 {
    height: 95%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#hs1-logo {
    height: 100%;
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#hs1-logo img {
    max-width: 100%;
    height: auto;
    display: block;
}
.hs1 section {
    height: 100%;
    width: 78%;
}
.hs1 section div {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#business-solutions {
    width: 30%;
}
.header-menu {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hs2 {
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-divider {
    height: 0.85%;
    width: 100%;
    background-color: lightgray;
}
.search-bar {
    height: 71.5%;
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-section {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: lightgray solid 0.1rem;
}
.search-section input {
    height: 95%;
    width: 97%;
    font-size: 2rem;
    border: none;
}
.catalog-search {
    height: 100%;
    width: 3%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.catalog-search img {
    max-width: 80%;
    height: auto;
    display: block;
}
.popular-searches {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.popular-searches h4 {
    height: 45%;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1px;
}
#searches-links {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 1% 2%;
}
#popular-links {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#popular-links a {
    text-decoration: none;
}
.popular-searches section div {
    height: 100%;
    width: auto;
}
#help-center {
    height: 100%;
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1%;
}
#help-center-text a {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}
#help-center-icon {
    height: 100%;
    width: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
#help-center-icon img {
    max-width: 77%;
    height: auto;
    display: block;
}





/* Main */

main {
    height: 86.75%;
    display: flex;
    flex-direction: column;
}



/* -Sign Up Section- */

.sign-up {
    height: 12.5%;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
}
.sign-up-social-section {
    display: flex;
    flex-direction: row;
    height: 90%;
    padding: 0 12% 0 12%;
}
.social-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-text-social {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.main-text-social h5 {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    text-align: center;
}
.main-signup {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sign-up-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-in-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up-section p {
    font-size: 1.1rem;
    margin-bottom: 7%;
}
.row-social {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottom-row-social {
    margin-bottom: 14%;
}
.social-image-container {
    height: 92%;
    width: 22%;
    background-color: white;
    border-radius: 5%;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.social-image-container img {
    max-width: 100%;
    max-height: 100%;
}
.join-using {
    font-size: 1.1rem;
    margin-bottom: 5%;
}
.sign-up-form-section {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sign-up-form-section form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.sign-up-form-section form section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-form-section form section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 60%;
    gap: 1%;
}
.sign-up-form-section form section div label {
    width: 30%;
}
.sign-up-form-section form section div input {
    height: 90%;
    width: 70%;
    border: black solid 0.08rem;
}
.sign-up-button {
    height: 40%;
    width: 65%;
    border: none;
    border-radius: 5%;
    color: white;
    background-color: #012864;
    align-self: flex-end;
    margin-right: 3%;
}
.sign-up-image {
    width: 45%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-image img {
    max-width: 75%;
    height: 50%;
    display: block;
    border: cornflowerblue solid 2px;
    z-index: 1;
}
.z-image {
    position: absolute;
    height: auto;
    width: 23.5%;
    margin-top: 2.5%;
    margin-left: 2%;
    border: black;
    overflow: hidden;
}
.z-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
}
.terms-of-service {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terms-of-service a {
    color: cornflowerblue;
}



/* -Popular Courses Section- */

.popular {
    height: 15.5%;
    background-color: #012864;
    display: flex;
    flex-direction: column;
}
.popular-text {
    height: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.popular-text h2 {
    font-size: 2.5rem;
}
.popular-text h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.popular-courses-section {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.popular-courses-text {
    height: 12%;
    width: 54%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.popular-courses-text div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.courses-text {
    width: 20%;
}
.courses-text p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.courses-text-dynamic-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dynamic-bar {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.db1 {
    width: 20%;
    height: 100%;
    background-color: gold;
}
.db2 {
    width: 20%;
    height: 100%;
}
.db3 {
    width: 20%;
    height: 100%;
}
.db4 {
    width: 20%;
    height: 100%;
}
.db5 {
    width: 20%;
    height: 100%;
}
.flat-bar {
    height: 40%;
    width: 100%;
    background-color: aliceblue;
}
.courses-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 75%;
}
.courses-card {
    height: 100%;
    width: 22.5%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: black solid 1px;
    border-radius: 2%;
    padding: 0.1%;
}
.courses-card h3 , p , strong {
    font-family: 'Open Sans';
}
.card-title {
    height: 12%;
    width: 100%;
    border-radius: 6% 6% 0 0;
    background-color: #012864;
    color: aliceblue;
    padding: 2.5% 0 0 4%;
    letter-spacing: 1px;
}
.card-title p {
    font-family: serif;

}
.card-description {
    height: 53%;
    padding: 4%;
}
.card-details {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
}
.card-details div {
    height: 33%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
.difficulty-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.difficulty-div section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.card-details p {
    font-size: 0.9rem;
}
.card-details strong {
    font-size: 0.9rem;
}
.certification {
    max-width: 100%;
    max-height: 65%;
}
.difficulty {
    max-width: 13%;
    max-height: 70%;
}
.popular-courses-button {
    width: 12%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gold;
    border-radius: 5%;
}
.popular-courses-button a {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    letter-spacing: 0.075rem;
    color: #012864;
}



/* -Start Coding Section- */

.start-coding {
    height: 15%;
    background-color: #e7e5de;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #523d2a;
    gap: 5%;
}
.start-coding-img-container {
    height: 75%;
    width: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-coding-img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    border: #99826c solid 2px;
}
.start-coding-text-section {
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}
.start-coding-text-section h2 {
    font-size: 2.5rem;
    font-family: "Open Sans";
}
.start-coding-text-section p {
    font-size: 1.5rem;
    font-family: "Open Sans";
}
.start-coding-button-section {
    height: 10%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.start-coding-button {
    width: 50%;
    height: 95%;
    background-color: #99826c;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-coding-button.right {
    background-color: #e7e5de;
    border: #99826c solid 2px;
    border-radius: 5%;
}
.start-coding-button.left a {
    color: #e7e5de;
    text-decoration: none;
    font-size: 1rem;
}
.start-coding-button.right a {
    color: #523d2a;
    text-decoration: none;
    font-size: 1rem;
}


/* -Where to Start Section- */

.where-to-start {
    height: 13%;
    background-color: #221a27;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.where-to-start-img-container {
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.where-to-start-img-container img {
    max-width: 80%;
    height: 90%;
    display: block;
    border-radius: 3%;
    border: #fed700 solid 2px;
}
.where-to-start-text-section {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.where-to-start-text {
    height: 50%;
    color: #fed700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.where-to-start-text h2 {
    font-size: 2rem;
    text-align: center;
}
.where-to-start-text p {
    font-size: 1.1rem;
    text-align: center;
}
.where-to-start-button {
    height: 12%;
    width: 24%;
    background-color: #fed700;
    border-radius: 5%;
}
.where-to-start-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
}




/* -Stories Section- */

.stories {
    height: 19%;
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.people-section {
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stories-row {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.middle-row {
    height: 50%;
}
.stories-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 5%;
    border: black solid 1px;
}
.tl , .br {
    height: 100%;
    width: 30%;
}
.left-image , .right-image {
    height: 100%;
    width: 28%;
    overflow: hidden;
}
.right-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.stories-top-doubles {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.stories-bottom-doubles {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top-image , .bottom-image {
    height: 100%;
    width: 35%;
    overflow: hidden;
}
.tr , .bl {
    height: 100%;
    width: 50%;
}
.right-image img, .left-image img {
    max-width: 68%;
    height: auto;
    display: block;
    border: black solid 1px;
}
.top-image img ,  .bottom-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border: black solid 1px;
}
.stories-text-and-button {
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}
.stories-text-section {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.stories-text-section h2 {
    font-size: 2rem;
}
.stories-text-section p {
    font-size: 1.1rem;
}
.stories-button {
    height: 18%;
    width: 40%;
    background-color: darkseagreen;
    border: black solid 1px;
}
.stories-button a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
.tl {
    background-color: #fed700;
}
.tr {
    background-color: #ABAAA8;
}
.br {
    background-color: #799FB5;
}
.bl {
    background-color: #637169;
}



/* -Join In Section- */

.join-in {
    height: 3%;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-in-div {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.join-in-div div {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.join-in-image {
    height: 10%;
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.join-in-image img {
    height: auto;
    display: block;
}
.students {
    max-width: 65%;
}
.world {
    max-width: 65%;
}
.file {
    max-width: 65%;
    padding-right: 30%;
}
.join-in-div h3 {
    font-size: 2rem;
}



/* -Business Section- */

.business {
    height: 12%;
    background-color: #ecefee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.business-section {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.business-section-text {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.business-image-header {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: -15%;
}
.codecademy-skillsoft {
    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.codecademy-skillsoft img {
    max-width: 35%;
    height: auto;
    display: block;
}
.business-section-text h2 {
    font-size: 2rem;
}
.business-section-text p {
    font-size: 1.1rem;
}
.business-section-text a {
    font-size: 1.2rem;
    color: black;
    letter-spacing: 1px;
}
.business-image {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.business-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 3%;
    border: black solid 2px;
}



/* -Start Free Section- */

.start-free {
    height: 16%;
    background-color: #020403;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-free-section {
    height: 95%;
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-free-section h2 {
    height: 25%;
    width: 25%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.start-free-image {
    height: 90%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-free-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100%;
    border: white solid 2px;
}
.start-free-section section {
    height: 55%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.75%;
}
.start-free-section section section {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.start-free-section section section div {
    height: 25%;
    width: 25%;
}
.start-free-section section h2 {
    height: 13%;
    width: 100%;
}
.start-free-section section p {
    width: 80%;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
.start-free-button {
    height: 35%;
    width: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.start-free-button a {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}


/* Footer */

footer {
    height: 12%;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-footer {
    height: 92%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left-footer {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
.top-footer-divider {
    height: 90%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-footer-divider div {
    height: 100%;
    width: 1%;
    background-color: black;
}
.top-right-footer {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
.tf-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}
.codecademy-logo-column {
    justify-content: space-between;
}
.footer-social {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-social div {
    height: 25%;
    width: 20%;
    overflow: hidden;
}
.footer-social div img {
    max-width: 100%;
    height: auto;
    display: block;
}
.footer-codecademy {
    width: 70%;
    overflow: hidden;
}
.footer-codecademy img {
    max-width: 100%;
    height: auto;
    display: block;
}
/*
.tf-column div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/
.tf-column div h5 {
    margin-bottom: 10%;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.tf-column div p {
    margin-bottom: 5%;
    font-size: 0.9rem;
}
.trf-divider {
    letter-spacing: -1px;
    margin-bottom: 5%;
}
.footers-divider {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: flex-start;
}
.mobile {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-footer-mobile {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.app-store {
    height: 50%;
    width: 100%;
    overflow: hidden;
}
.app-store img {
    max-width: 66%;
    height: auto;
    display: block;
    border-radius: 7%;
}
.google-play {
    height: 50%;
    width: 100%;
    overflow: hidden;
}
.google-play img {
    max-width: 78%;
    height: auto;
    display: block;
    border-radius: 7%;
}
.footers-divider div {
    height: 10%;
    width: 100%;
    background-color: black;
}
.bottom-footer {
    height: 6%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-block {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 1%;
}
.bottom-left-footer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}
.bottom-right-footer{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.bottom-block p {
    font-size: 0.9rem;
}